# =========================
# JAVA / SPRING BOOT
# =========================
target/
*.class
*.jar
*.war
*.log

# =========================
# MAVEN
# =========================
.mvn/wrapper/maven-wrapper.jar

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# NODE / REACT
# =========================
node_modules/
dist/
build/

# =========================
# ENV
# =========================
.env

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# DATABASE
# =========================
*.sql.bak
*.db

# =========================
# TEMP
# =========================
temp/
logs/
src/main/resources/application.properties